/* Анимация для текста */
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.fade-in {
	animation: fadeIn 0.8s ease-in-out;
}

/* Опционально: можно добавить пульсацию для спиннера */
.spinner-border {
	animation: spinner-border 0.75s linear infinite; /* Стандартная анимация Bootstrap */
}
